@import "wiki/src/styles.css";
@import "css/shiki.css";
/* @import "css/shiki-extra.css"; */

.menu ul summary:has(:not(a)) {
    padding: 0.75em 0.5em;
}

.menu-logo img {
    width: 128px;
    height: 128px;
}

.code-block {
    position: relative;

    header {
      padding: 0.5em 0.5em;
      position: absolute;
      pointer-events: none;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    header + pre {
        padding-top: 2em;
    }

    .attribute-lang, .attribute-filename {
        font-size: 12px;
        font-weight: var(--font-bold);
        color: var(--color-dim);
        pointer-events: none;
        transition: all 0.25s;
    }

    .attribute-filename {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    .copy {
        /* position: absolute; */
        /* right: 0.65em; */
        /* top: 0.25em; */
        pointer-events: auto;
        transition: all 0.25s;
        font-size: 12px;
        font-weight: var(--font-bold);
        color: var(--color-dim);
        border: 0;
        padding: 0;
        min-height: 0;
    }
}

